/*  Banner  */
body{
background-color:#f7f9ef;

}

/* Media Querys */

        /* Große Tablets und teils Laptops */
        @media screen and (max-width: 1204px) and (min-width: 768px){
        
        }
        /* Große Handys und kleine Tablets */
        @media screen and (max-width: 767px) and (min-width: 576px){

        }
         /* Handyversion */
         @media screen and (max-width: 575px){

         }



/*  PC  */

    /* Banner */
        .Banner{
            text-align: center;
            margin: auto;
            margin-top: 50px;
        }
        .Banner_img{
            width: 90%;
        }

    /*  About Website  */
        .about_website{
            margin-top: 7%;
            width: 85%;
        }

        .about_website_title{
          
        }

        .about_website_text{
            font-size: 1.25rem;
        }
        .about_website_text_div{

        }
        

    /* division1 */
        .division1{
            width: 85%;
            color: black;
            border-style: solid;
            border-width: 1.5px;
            margin: 3% auto 4% auto;
        } 
    /* about me */
    
    .aboutme{
        width: 85%;
    }

    .about_title{
        margin-top: -1%;
    }

    .about_subtitle{
        margin-top:0.75%;
        color:grey
    }

    .about_text{
        margin-top: 4%;
        font-size: 1.125rem;
    }
    .about_img_div{
        text-align: center;
    }
    .about_img{
        width: 80%;
    }